@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    border-left: 3px solid #1fbaf8;
    background-color: #cce9f6;
    padding-left: 27px;
}

.active img{
    filter: invert(67%) sepia(33%) saturate(4296%) hue-rotate(163deg) brightness(98%) contrast(99%);
}

.rotate{
    transform: rotate(180deg);
}

.showdropdown{
    display: block;
}

body{
    position: relative;
}
